@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
  }

.navbar{

    height: 10vh;
    width: 100%;
    position: fixed;
    top: 0vh;
    z-index: 10;
    background-color: #000 !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
a{
    color: #f1c40f;
}

.navbar h3{
    color: #f1c40f;
}

.nav-options{
    display: flex;
    gap: 20px;
}

.nav-options p{
    margin: 0;
    color: rgb(209, 210, 211);
    text-decoration: none;
    cursor: pointer;
}

.nav-options p:hover{
    color: aliceblue;
}

.nav-options ul{
    margin: 0;
    display: flex;
    gap: 25px;
}

.nav-options li{
    margin: 0;
    list-style: none;
    cursor: pointer;
}

.nav-options a{
    margin: 0;
    color: rgb(209, 210, 211);
    text-decoration: none;
}

.nav-options li a:hover{

    color: rgb(255, 255, 255);

}