@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
  }

  body {
    background-color: #1a1a1a; /* Dark background */
    color: #f1f1f1; /* Light text */
  }

.portfolioPage{
    padding-top: 13vh;
    width: 100%;
}

.user-portfolio-container{
    width: 90%;
    height: 85vh;
    margin-left: 5%;
    border-radius: 0.6rem;
}
.user-portfolio-container-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vh 4vw 2vh 1vw;
    margin: 0 1vw;
    border-bottom: 2px solid #8b8f9361;
}

.user-portfolio-container-head h2{
    font-size: 2.5rem;
    color: #f1c40f;
}


.user-portfolio-container-search input{
    width: 20vw;
    padding: 10px;
    outline: none;
    font-size: 0.8rem;
    border-radius: 0.8rem;
    border: 1px solid #22476979;
    color: #f1c40f;
}

.user-portfolio-container-search #searchIcon{
    font-size: 1.5rem;
    cursor: pointer;
    position: relative;
    top: 0.5rem;
    left: -2rem;
    color: #f1c40f;
}

.user-portfolio{

    height: 70vh;
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}
.user-portfolio::-webkit-scrollbar {
    display: none;
  }

.user-portfolio-stock{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    border: 1px solid #f1c40f;
    margin: 0 2rem;
    border-radius: 0.8rem;
}

.user-portfolio-stock:hover{
    background-color: rgba(213, 232, 251, 0.162);
    border: 1px solid #2247692c;
}

.user-portfolio-stock span{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f1c40f;
}

.user-portfolio-stock span h5{
    margin: 0;
    font-size: 0.8rem;
    color: #f1c40f;
}

.user-portfolio-stock h6{
    margin: 0;
    padding: 5px 8px;
    background-color: rgba(161, 205, 234, 0.199);
    color: #f1c40f;
}

.user-portfolio-stock span p{
    margin: 0;
    font-size: 0.9rem;
    color: whitesmoke;
}

.chart-button{
    padding: 15px;
    border-radius: 10px;
    background-color: #f1c40f;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
  }

  .chart-button:hover {
    cursor: pointer;
    box-shadow: 0 0 15px rgba(241, 196, 15, 0.75); /* Yellow glow effect */
    transform: scale(1.05); /* Slightly enlarge the button on hover */
  }
  
  .chart-button:active {
    transform: scale(0.95); /* Slightly shrink the button on click */
  }